In [ ]:
# Collections
# Collections are objects(variable) that can holds more than one constant
#
# Some of the collections supported by Python is:
# 1. List
# 2. Dictionaries
# 3. Tuples
# 4. Set
#
# When it comes to variables and collections in Python, there exists two forms of collections
# 1. Mutable Collections
#    They are those collections which allow you to change the data at any point in time
#    Mutable collections are useful in a situation where you will be reusing your memory for operations
#  
# 2. Immutable Collections
#    They are those collections which once loaded, cannot be changed at any point in time
#    Immutable is useful in a situation where you want to ensure the data will never change either by user or by system

In [ ]:
# List
# List are mutable collection . Mutable means once created, you can modify the same

a = [1,2,3,4,5] #In python you can create a list using square brackets -- []
a

In [ ]:
type(a)

In [ ]:
# List can hold heterogenous data in the collection.

b = ['hello', 3,4 ,5.6, 8.3, 5j, "Welcome to my world of Data Science", [1,2,3]]
b

In [ ]:
# How to extract data from the list | traverse the list

a = [3,2,5,72,21,68,23,5,73,256,22,56,90]
#----0,1,2,3 ,4 , 5, 6,7, 8, 9, 10,11,12   (Index)

In [ ]:
# To extract a single element you can use the index location of the list
#Eg. 1 -- Extract 23
a[6]   # Means extracting the value of index location 6

In [ ]:
a[9]

In [ ]:
# How many elements are there in the list
len(a)   #Defines the length of the list

In [ ]:
# Extract data [21,68,23,5,73]
# We can observe that the data is in a series(continuty)
# If your data is in series, you can extract the same using range syntax

a = [3,2,5,72,21,68,23,5,73,256,22,56,90]

#range syntax
# collection_name[start_index : upper_bound]
#
# Where,
#  start_index is the start location from where the data needs to be fetched
#  upper_bound = end_index + 1

a[4:9]

In [ ]:
a = [3,2,5,72,21,68,23,5,73,256,22,56,90]
#
#Extract [256,22,56]

a[9:12]

In [ ]:
# Nested List
#
example1 = [1,2,3,[4,5,6,[7,8,9,[10,11]]]]

len(example1)

In [ ]:
example1[3][2]

In [ ]:
#10
example1[3][3][3][0]

In [ ]:
example2 = [[1,2,3],['Anand',['Raghav',[7,8,9,0,['Aman',['Kumar','Joe']]]]]]
#Extract Joe
example2[1][1][1][4][1][1]

In [ ]:
# Modify the elements in the list
a = [3,2,5,72,21,68,23,5,73,256,22,56,90]

# replace 90 with 'Prashant'

a[12] = 'Prashant' #Supported by list . List is mutable

In [ ]:
a

In [ ]:
# replace 23 with 203
a[6] = 203
a

In [ ]:
# replace 5 with 'Nikit'
a[2]='Nikit'

In [ ]:
a

In [ ]:
#Search Operation in list
# What in Where(collection)
78 in a

In [ ]:
#To learn more about Python Basics
# https://www.w3schools.com/python/python_variables.asp

#To get solved exercises for practice
# https://www.w3resource.com/python-exercises

In [ ]:
#Tuples --- Round Bracket
# Tuples are immutable collection

a = (1,2,3,4)
a

In [ ]:
type(a)

In [ ]:
a[1]

In [ ]:
a[1:3]

In [ ]:
4 in a

In [ ]:
a[1] = 'Prashant' #Immutable

In [ ]:
# Set - Curly bracket
# Set is a collection that holds only unique values

a = {1,2,3,4,4,4,4,4,5,5,5,5,5,1,1,1}
a

In [ ]:
type(a)

In [ ]:
#Set doesnt allow to access elements directly.
#Strategy: Typecast the set into list

list(a)[0]

In [ ]:
# Dictionary -- curly bracket
# Data is represented in the for Key,Value pair
#
# key:value
#
# lookup dictionary, lookup table, K,V pairs,  IndexReference Layer

stateAndCapitals = {'Maharashtra' : 'Mumbai',
                   'Goa' : 'Panjim',
                   'Karnataka': 'Bengaluru',
                   'Kerala': 'Trivandrum'}

In [ ]:
stateAndCapitals #Dict by default maintains the data in sorted manner based on key part of the data

In [ ]:
type(stateAndCapitals)

In [ ]:
#To extract data from dictionary, we need to use key
stateAndCapitals['Goa']

In [ ]:
stateAndCapitals['TamilNadu'] = 'Chennai'

In [ ]:
stateAndCapitals