In [ ]:
# Python ideally supports 4 statements
# 1. if statement
# 2. if..else statement
# 3. elif ladder
# 4. Ternary Operator

# Used to specify a condition to perform an action

In [ ]:
# Comparison Operators
# >          -- Greater than
# <          -- Less than
# >=         -- Greater than equal to 
# <=         -- less than equal to 
# !          -- not
# !=         -- not equal to
# ==         -- equal to

In [ ]:
# if statement --- You can pass only one condition
temp = 50 

if temp > 30:
    #Indentation
    print("High Temp")

In [ ]:
# if ..else statement---- You can have one true condition and one default condition

temp = 20 

if temp > 30:
    print("High Temp")
else:
    print("Low Temp")

In [ ]:
#Assignment - Covert the above two code into user interaction code

In [ ]:
#elif ladder ---> When you have multiple true conditions and one default condition

temp = 50 

if temp > 30 and temp < 40:
    print("High Temp")
elif temp >= 40 and temp < 50:
    print("Bursting Temp")
elif temp >= 50 and temp < 60:
    print("Bursting Temp 1")
elif temp >= 60:
    print("Bursting Temp 2")
else:
    print("Low Temp")

In [ ]:
# Accept a number from the user and print whether the number is EVEN or ODD

#Logic: Number must be divisible by 2 (The remainder must be zero)

number = int(input("Enter your number: "))

if number % 2 == 0: #Checking whether the remainder is 2 or not
    print("Even Number")
    print("Given number {} is an Even Number".format(number))
else:
    print("Odd Number")
    print("Given number {} is an Odd Number".format(number))

In [ ]:
#Ternary operator | replacement of ifelse

number = int(input("Enter your number: "))

result = "Even Number" if number % 2 == 0 else "Odd Number"
result

In [ ]:
number = int(input("Enter your number: "))
result2 = "Given number {} is an Even Number".format(number) if number % 2 == 0 else "Given number {} is an Odd Number".format(number)
result2

In [ ]:
#Fun time :)
#Extract 22 from data1 !!!

In [ ]:
data1 = {'data' : [1,2,3,[7,8,9],10, {'city':['Mumbai','Chennai','Bangalore',{'code':[11,22,33]}]}]}

In [ ]:
type(data1)

In [ ]:
data1['data'][5]['city'][3]['code'][1]

In [ ]:
# Logical Operators
#
# and
# or
# not

In [ ]:
#Loan Eligibility Check

# Truth Table (and)
# condition1  condition2  result
#   True        True       True
#   False       True       False
#   True        False      False
#   False       False      False

# For And all conditions must be true

income = 7000
creditScore = 701

if income > 8000 and creditScore > 700:
    print("Eligible")
else:
    print("Not Eligible")

In [ ]:
# Truth Table (or)
# condition1  condition2  result
#   True        True       True
#   False       True       True
#   True        False      True
#   False       False      False

# For or any one conditions must be true

income = 7000
creditScore = 701

if income > 8000 or creditScore > 700:
    print("Eligible")
else:
    print("Not Eligible")

In [ ]:
#Not operator
# True --> not ---> False
# False --> not --> true

income = 7000
creditScore = 701
isStudent = True

if not isStudent:
    if income > 8000 or creditScore > 700:
        print("Eligible")
    else:
        print("Not Eligible")
else:
    print("Students are not eligible for LOAN")

In [ ]:
# Example
age1 = 10
if age1 >= 18 and age1 <= 32:
    print("Eligible for IAS exam")
else:
    print("Not Eligible")

In [ ]:
# Chaining Operator
age=19
if 18 <= age <=32 :
    print("Eligible for IAS exam")
else:
    print("Not Eligible")

In [ ]:
a = [1,2,3,[4,5,[6]]]

In [ ]:
len(a)