# Advance Pandas - Remaining Functionality

pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

According to the Wikipedia page on Pandas, “the name is derived from the term “panel data”, an econometrics term for multidimensional structured data sets <br>
pandas consists of the following elements. <br>

* A set of labeled array data structures, the primary of which are Series and DataFrame
* Index objects enabling both simple axis indexing and multi-level / hierarchical axis indexing
* An integrated group by engine for aggregating and transforming data sets
* Date range generation (date_range) and custom date offsets enabling the implementation of customized frequencies
* Input/Output tools: loading tabular data from flat files (CSV, delimited, Excel 2003), and saving and loading pandas objects from the fast and efficient PyTables/HDF5 format.
* Memory-efficient “sparse” versions of the standard data structures for storing data that is mostly missing or mostly constant (some fixed value)
* Moving window statistics (rolling mean, rolling standard deviation, etc.)

### Some quick references

__[10 Minutes to Pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html#min)__

### Managing your working directory in Python

In [ ]:
import os

In [ ]:
os.getcwd()

** Set you current working directory**

In [ ]:
# list down all objects in the current working directory
os.listdir()

In [ ]:
os.chdir('C:\\Users\\raggar10\\Desktop\\Study Material\\Data Science Training\\AcadGild\\DSM_Online_July14\\session8\\Pandas Session1')

In [ ]:
# list down all objects in the current working directory
os.listdir()

## Create Data in Pandas DataFrame

In [ ]:
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt

## Titanic Kaggle Data __[Data Description](https://www.kaggle.com/c/titanic/data)__

In [ ]:
titanic_train = pd.read_csv("titanic.csv",sep=',')

In [ ]:
titanic_train.shape

In [ ]:
titanic_train.head(20)

In [ ]:
titanic_train.Name[:10]

In [ ]:
type(titanic_train[["PassengerId", 'Pclass','Name']][:10])

In [ ]:
titanic_train[["PassengerId", 'Pclass','Name']][:10]

In [ ]:
type(titanic_train.Pclass)

In [ ]:
titanic_train[:5]

In [ ]:
#type(titanic_train.PassengerId)
#type(titanic_train.PassengerId.values)
(titanic_train.Name.values)

### DataFrame Index

In [ ]:
titanic_train.index

In [ ]:
titanic_train.index = titanic_train.PassengerId +1000

In [ ]:
titanic_train.head()

**Get a list of columns**

In [ ]:
titanic_train.columns

In [ ]:
titanic_train.columns = ['PassengerId', 'Survived', 'Passengerclass', 'PassName', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'EmbarkedPort']

In [ ]:
titanic_train.head()

**Get Data Type for each column**

In [ ]:
titanic_train.dtypes
#type(titanic_train.dtypes)
#titanic_train.dtypes.index

In [ ]:
titanic_train.info()

In [ ]:
titanic_train.dtypes

In [ ]:
type(titanic_train.dtypes)

In [ ]:
titanic_train.dtypes['Age']

In [ ]:
print("Categorical Columns")
titanic_train.dtypes == 'object'

In [ ]:
type(titanic_train.dtypes == 'object')

In [ ]:
titanic_train.columns[titanic_train.dtypes == 'object']

In [ ]:
titanic_train.columns

In [ ]:
print("Numberical Columns")
titanic_train.columns[titanic_train.dtypes != 'object']

**Get Descriptive Statistics for Numeric Columns**

In [ ]:
?pd.read_csv

In [ ]:
print( titanic_train.describe() )

**Get Descriptive Statistics for Categorical Columns**

In [ ]:
?pd.DataFrame.describe

In [ ]:
categorical = titanic_train.dtypes[titanic_train.dtypes == "object"].index
print(categorical)

titanic_train[categorical].describe()

In [ ]:
titanic_train.describe(include='all')

In [ ]:
titanic_train.shape

In [ ]:
titanic_train.info()

**Individual Statistics**

In [ ]:
## How to we get individual column statistics
titanic_train['Age'].mean()

In [ ]:
titanic_train['Age'].max()

In [ ]:
titanic_train['Age'].min()

In [ ]:
import numpy as np

In [ ]:
np.max(titanic_train.Age)

In [ ]:
np.max(titanic_train['Age'])

### Two ways to remove column from Data Frame

In [ ]:
titanic_train.head()

In [ ]:
del titanic_train["PassengerId"]     # Remove PassengerId

In [ ]:
titanic_train.head()

In [ ]:
titanic_train.drop(['PassName'],axis=1).head()

In [ ]:
titanic_train.head()

In [ ]:
titanic_train.drop(['PassName'],axis=1,inplace=True)

In [ ]:
titanic_train.head()

### Sorting Values

In [ ]:
titanic_train.head()

In [ ]:
titanic_train.sort_values(by='Age', inplace=True)

In [ ]:
titanic_train.head()

In [ ]:
titanic_train.sort_values(by='Age',ascending=False ,inplace=True)

In [ ]:
titanic_train.head()

In [ ]:
titanic_train["Ticket"][:10]

In [ ]:
sorted(titanic_train["Ticket"])[0:15]   # Check the first 15 sorted names

In [ ]:
# Sorting by multiple columns
titanic_train.sort_values(by=['Age','Ticket'],ascending=[False,True] ,inplace=True)

In [ ]:
titanic_train.head()

### Dealing with Categorical Data

In [ ]:
titanic_train["Cabin"].describe()  # Check number of unique cabins

**We will now deal with data which is numerical but categorical in nature**

In [ ]:
titanic_train["Survived"].dtypes

In [ ]:
titanic_train["Survived"].describe()

In [ ]:
titanic_train["Survived"].unique()

In [ ]:
new_survived = pd.Categorical(titanic_train["Survived"])

In [ ]:
new_survived[0:10]

In [ ]:
type(new_survived)

In [ ]:
new_survived.describe()

In [ ]:
?new_survived.rename_categories

In [ ]:
new_survived = new_survived.rename_categories(["Died","Survived"])              

new_survived.describe()

In [ ]:
new_survived2 = new_survived.rename_categories({0:"Passenger_Died",1:"Passenger_Survived"})     
new_survived2.describe()

In [ ]:
titanic_train['Survived_New']=new_survived2

In [ ]:
titanic_train.head(10)

In [ ]:
titanic_train.Pclass.unique()

In [ ]:
new_Pclass = pd.Categorical(titanic_train["Pclass"],
                           ordered=True)

new_Pclass = new_Pclass.rename_categories(["Class3","Class2","Class1"])     

new_Pclass.describe()

In [ ]:
titanic_train.Sex.unique()

In [ ]:
new_Gender = pd.Categorical(titanic_train["Sex"],
                           ordered=True)

new_Gender = new_Gender.rename_categories(["0","1"])     

new_Gender.describe()

In [ ]:
new_Gender.unique()

In [ ]:
titanic_train["Pclass"] = new_Pclass

In [ ]:
titanic_train["Cabin"].unique()   # Check unique cabins

In [ ]:
? pd.Categorical

## Indexing and Slicing DataFrames

We can use column names or row names to index data points in DataFrame

In [ ]:
titanic_train.head()

In [ ]:
titanic_train[10:15]

In [ ]:
titanic_train[1:2]

In [ ]:
titanic_train[['Fare']].head()

In [ ]:
titanic_train[['Fare','Age']].head()

**For advaned indexing we can use below two methods**
* loc
* iloc

**loc uses actual row or column indexes for slicing data**

In [ ]:
Pandasdataframe.loc[row_index,col_index]

In [ ]:
titanic_train.head()

In [ ]:
titanic_train.loc[[1022,1038],:]

In [ ]:
titanic_train.loc[1001:1020,:]

In [ ]:
titanic_train.loc[1010:1015, ['Fare','Age']]

In [ ]:
titanic_train.index=titanic_train['PassName']

In [ ]:
titanic_train.head(5)

In [ ]:
titanic_train.loc['Heikkinen, Miss. Laina':'Allen, Mr. William Henry',:]

In [ ]:
titanic_train.index=titanic_train.PassengerId

In [ ]:
titanic_train.head()

In [ ]:
titanic_train.loc[[1,100,90,80],:]

In [ ]:
titanic_train.loc['Allen, Mr. William Henry':'Heikkinen, Miss. Laina',:]

In [ ]:
#titanic_train.loc[1:5,:]

**Similarly iloc uses integers as numbered indexes to slice data**

In [ ]:
titanic_train.index=titanic_train.PassName

In [ ]:
titanic_train.head()

In [ ]:
titanic_train.iloc[2:4,:]

# Let's Do It Together

In [ ]:
## Read HR_Employee_Attrition_Data.csv file as pandas DataFrame

In [ ]:
## Read first 6 and last 7 rows

In [ ]:
## List all columns and data types for each

In [ ]:
## Find descriptive statistics for all columns

In [ ]:
## Find average age of people whose Attrition and is Yes and No separately

In [ ]:
## Find average daily rate for people whose Attrition is Yes and No separately

In [ ]:
## Find the Department where Attrition rate is highest

In [ ]:
## For people who Travel Rarely and from Sales department what is the average daily rate?